<style>
h1 { margin-top : 20px; }
</style>

<h1>Dashboard</h1>
<table class="table table-bordered">
<thead>
  <tr>
    <th>Products</th>
    <th>Categories</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @product_count %></td>
    <td><%= @category_count %></td>
  </tr>
</tbody>
</table>